%h1 Listing broken_links

%table
  %tr
    %th Url
    %th Dom elem
    %th Link type
    %th Recommendation
    %th Details
    %th
    %th
    %th

  - @broken_links.each do |broken_link|
    %tr
      %td= broken_link.url
      %td= broken_link.dom_elem
      %td= broken_link.link_type
      %td= broken_link.recommendation
      %td= broken_link.details
      %td= link_to 'Show', broken_link
      %td= link_to 'Edit', edit_broken_link_path(broken_link)
      %td= link_to 'Destroy', broken_link, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Broken link', new_broken_link_path
