%h1 Listing Sites

%table.table.table-striped.site_list
  %tr
    %th Site Name
    %th Base URL
    %th= t("shared.action")

  - @sites.each do |site|
    %tr
      %td= site.name
      %td= site.url
      %td
        = link_to '', site, class: "icon-check"
        = link_to '', edit_site_path(site), class: "icon-edit"
        = link_to '', site, method: :delete, data: { confirm: 'Are you sure?' }, class: "icon-trash"
= link_to 'New Site', new_site_path, class: "btn"
:javascript
  $(document).ready(function(){
    $(".navbar-inner li").removeClass("active");
    $(".navbar-inner").find(".sites").addClass("active");
  })
